.yandeRoutingOrdersPopup {
    min-width: 600px;
}

.yandeRoutingOrdersPopup .yandeRoutingSendedOrdersList {
    color: gray;
}

.yandeRoutingOrdersPopup .yandeRoutingDeliveryDate {
    font-weight: bold;
}

.yandeRoutingOrdersPopup .warning {
    font-weight: bold;
    color: orange;
}

.yandeRoutingOrdersPopup .error {
    font-weight: bold;
    color: red;
}

.yandeRoutingOrdersForm .yandeRoutingUpBlock {
    display: flex;
}

.yandeRoutingSlotChoose {
    font-weight: bold;
    height: 20px;
    cursor: pointer;
}