.address_dropdown{
    position: absolute;
    z-index: 1000;
    padding: 5px 0px;
    top: 100%;
    right: 0;
    left: 0;
    max-height: 350px;
    overflow-y: auto;
    border: 1px solid #ececec;
    border-radius: 2px;
    background: rgb(251, 251, 251);
}

.address_dropdown-item {
    padding: 5px;
    cursor: pointer;
}

.address_dropdown-item.selected {
    padding: 5px;
    color: white;
    background-color: #ff7b00;
}

.address_dropdown-item:hover {
    padding: 5px;
    color: white;
    background-color: #ff7b00;
}

textarea[name="PROPERTIES[7]"] {
    width: 200px;
    height: 50px;
}

.ymap_address_suggestion {
    width: 600px;
}
.ymap_address_suggestion_address_input_block{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    height: 100%;
}
.ymap_address_suggestion_address_input_block_suggestion{
    display: flex;
    position: relative;
    width: calc(100% - 120px);
    flex-wrap: wrap;
    flex-direction: column;
}
.ymap_address_suggestion_address_input_block_suggestion_info{
    position: relative;
}
.ymap_address_suggestion_address_input_block_suggestion_info input{
    margin-bottom: 0px;
}
.ymap_address_suggestion_address_input_block_appartament_info{
    margin-top: 10px;
}
.ymap_address_suggestion_error{
    color: red;
    font-size: 12px;
}
.ymap_address_suggestion_hint{
    color: red;
    font-size: 12px;
}
.ymap_address_suggestion_ymap_description{

}
.ymap_address_suggestion_address_apartament_input{
    width: 50px!important;
}
.ymap_address_suggestion_address_input{
    margin-bottom: 8px;
    width: 100%;
}
.ymap_address_suggestion_address_btn{
    width: 120px;
    height: 37px;
}
#ymap{
    height: 300px;
    width: 100%;
}
.time-slots-in-admin-slot_block {
    display: none;
}
.time-slots-in-admin-slot_block.active {
    display: block;
}

.time-slots-in-admin-day_block{
    display: flex;
}

.time-slots-in-admin-day{
    cursor: pointer;
    margin:1px;
    width:98%;
    background-color: white;
    text-align:center;
    min-height:33px;
    border: 2px solid rgba(196,196,196,.4);
    line-height:33px;
}
.time-slots-in-admin-day:hover{
    background-color: grey;
}
.time-slots-in-admin-day.active{
    cursor: default;
    border: 2px solid #ff7b00;
}

.time-slots-in-admin-slot{
    margin:1px;
    width:98%;
    background-color: white;
    text-align:center;
    min-height:33px;
    border:2px solid gray;
    line-height:33px;
    cursor: pointer;
}
.time-slots-in-admin-slot:hover{
    background-color: grey;
}
.time-slots-in-admin-slot.active{
    cursor: default;
    border: 2px solid #ff7b00;
    background-color: antiquewhite;
}
.time-slots-in-admin-slot.disabled{
    opacity: 0.5;
    color: red;
}

.time-slots-in-admin-slot p {
    line-height: 22px;
}

.time-slots-in-admin-container{
    max-width:590px;margin-left:10px;display: flex;flex-direction:column;
}
.time-slots-in-admin-container p {
    margin: 0px;
}
#time-slots-in-admin-container button {
    width: 200px;
    margin: 20px;
}
.time-slots-in-admin-slot_alert{
    color: red;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    .ymap_address_suggestion_address_input_block_suggestion{
        width: 100%;
    }
    .ymap_address_suggestion {
        width:100%;
        max-width:600px;
    }
}