.section_block .sections_wrapper .list .row .catalog_sections_item {
    padding-left: 5px;
    padding-right: 15px;
    white-space: nowrap;
    border: 0px;
}

@media (max-width: 450px) {
    .section_block .sections_wrapper .list .row .catalog_sections_item {
        width: 100%;
        float: initial;
    }
}

.bx-ios .sections_wrapper .list .row .catalog_sections_item:hover{
    box-shadow: none;
    text-decoration: underline;
}

.section_block .sections_wrapper .list .catalog_sections_item a {
    color: #0076b3;
}

.section_block .sections_wrapper .list .catalog_sections_item.current a {
    text-decoration: underline;
    color: rgb(255,123,0);
    text-shadow: -0.04ex 0 #ff7b00, 0.04ex 0 #ff7b00;
}


.section_block .sections_wrapper .list .catalog_sections_item .badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
    text-shadow: none;
}


@media (max-width: 450px) {
    body .wrapper_inner.wide_page .info_item .middle_info .buy_block {
        display: block;
        vertical-align: top;
        width: 50%;
    }
}

.image_wrapper_block, .image_wrapper_block a{
    height: 220px;
    line-height: 220px;
}
.list_item .image_wrapper_block, .list_item .image_wrapper_block a {
    width: 240px;
    height: 240px;
    line-height: 240px;
}
.module_products_list .foto-cell .image_wrapper_block, .module_products_list .foto-cell .image_wrapper_block a {
    width: 80px;
    height: 80px;
    line-height: 80px;
}
.with_fast_view .module_products_list .icons.fast_view_block {
    top: 20px;
    left: 20px;
}
.module_products_list tr td:first-child {
    padding-left: 9px;
}
.module_products_list td {
    padding: 9px 0px;
}

.partners_all_letters {
    padding-bottom: 0px;
}
.partners_all_letters_item {
    padding-right: 10px;
    font-size: 22px;
}
.partners_letter{
    padding: 27px 0px 5px;
    font-size: 20px;
    font-weight: 600;
}

