.user-table{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
}
.user-table th, .user-table td:first-child {
    background: #aebbc0;
    color: white;
    padding: 10px 20px;
}
.user-table th, .user-table td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
.user-table td {
    background: #d2dbdd;
    white-space: nowrap;
}
.user-table th:first-child, .user-table td:first-child {
    text-align: left;
}
.cross{
    text-decoration: line-through;
}
.adm-button-suppliers-orders, .adm-button-generate-report{
    margin: 10px!important;
}
.totaL-price{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    padding: 5px;
    background-color: #D2DBDD;
    float: right;
}