:root {
	--rees46-main: #FF6600;
	--rees46-main-hover: #ff781f;
	--rees46-second: #bbbbbb;
	--rees46-second-hover: #686868;
}

.rees46__modal {
	position: fixed;
	left: 50%;
	top: 20px;
	width: 1440px;
	max-height: calc(100vh - 40px);
	max-width: calc(100% - 40px);
	padding: 30px;
	background-color: white;
	overflow: auto;
	transform: translateX(-50%);
	z-index: 9999;
}
.rees46__modal__tool label {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid var(--rees46-second);
	cursor: pointer;
}
.rees46__modal__tool label input {
	display: none;
}
.rees46__modal__tool label span {
	position: relative;
	display: inline-block;
	padding-left: 50px;
}
.rees46__modal__tool label span:before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 44px;
	height: 24px;
	border-radius: 24px;
	background-color: var(--rees46-second);
	transform: translateY(-50%);
	transition: .15s;
}
.rees46__modal__tool label span:after {
	content: '';
	position: absolute;
	left: 5px;
	top: 50%;
	width: 16px;
	height: 16px;
	background-color: white;
	border-radius: 50%;
	transition: .15s;
	transform: translate(0, -50%);
}
.rees46__modal__tool label input:checked + span:before {
	background-color: var(--rees46-main);
}
.rees46__modal__tool label input:checked + span:after {
	transform: translate(18px, -50%);
}
.rees46__modal__tool label img {
	width: 30px;
	margin-left: 10px;
}
.rees46__modal__form {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid var(--rees46-second);
	font-size: 0;
}
.rees46__modal__form input[type="text"] {
	width: calc(100% - 53px);
	padding: 10px;
	background-color: white;
	border: 1px solid var(--rees46-second);
	border-radius: 5px;
	font-size: 14px;
	transition: .3s;
}
.rees46__modal__form input[type="text"]:hover {
	border-color: var(--rees46-main-hover);
}
.rees46__modal__form input[type="text"]:focus {
	border-color: var(--rees46-main-hover);
	outline: none;
}
.rees46__modal__form input[type="text"]:focus::placeholder {
	opacity: 0;
}
.rees46__modal__form button.close {
	display: inline-flex;
	width: 43px;
	height: 43px;
	margin-left: 10px;
	padding: 10px;
	align-items: center;
	background-color: white;
	border: 1px solid rgba(104,104,104,0.2);
	border-radius: 5px;
	color: #000000;
	font-size: 24px;
	opacity: 1;
	justify-content: center;
	text-align: center;
	transition: .3s;
}
.rees46__modal__form button.close:hover {
	background-color: var(--rees46-second-hover);
	color: white;
}
.rees46__modal__results {
	display: flex;
	flex-wrap: wrap;
}
.rees46__modal__results__filters {
	width: 300px;
	padding-right: 10px;
}
.rees46__modal__results__filters button {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px 70px 10px 10px;
	text-align: left;
	background-color: white;
	border: 1px solid var(--rees46-main);
	border-radius: 5px;
	color: black;
	font-size: 14px;
	line-height: 1.25;
	transition: .3s;
}
.rees46__modal__results__filters button:hover,
.rees46__modal__results__filters button.active {
	border-color: var(--rees46-main-hover);
	background-color: var(--rees46-main-hover);
	color: white;
}
.rees46__modal__results__filters button:before {
	position: absolute;
	display: flex;
	counter-reset: count var(--count);
	content: counter(count);
	right: 5px;
	top: 50%;
	width: 50px;
	height: calc(100% - 10px);
	padding: 7px;
	align-items: center;
	background-color: white;
	border: 1px solid var(--rees46-second);
	border-radius: 5px;
	color: black;
	font-size: 12px;
	justify-content: center;
	transform: translateY(-50%);
	transition: .3s;
}
.rees46__modal__results__filters button:hover:before {
	color: black;
	border-color: var(--rees46-main-hover);
}
.rees46__modal__results__products {
	width: calc(100% - 300px);
}
.rees46__modal__results__products .title {
	padding: 0 10px 10px 5px;
	font-size: 16px;
	font-weight: bold;
}
.rees46__modal__results__products .link {
	position: relative;
	display: inline-block;
	margin: 0 10px 10px 5px;
	color: var(--rees46-main);
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	transition: .3s;
}
.rees46__modal__results__products .link:before {
	content: '';
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	height: 1px;
	background-color: var(--rees46-main);
}
.rees46__modal__results__products .link:hover {
	color: var(--rees46-main-hover);
}
.rees46__modal__results__products .link:hover:before {
	background-color: var(--rees46-main-hover);
}
.rees46__modal__results__products .load-more {
	width: calc(100% - 10px);
	margin: 10px 5px;
	padding: 10px;
	background-color: var(--rees46-main);
	border: none;
	border-radius: 5px;
	color: white;
	text-align: center;
	transition: .3s;
}
.rees46__modal__results__products .load-more:hover {
	background-color: var(--rees46-main-hover);
}
.rees46__modal__results__products .rees46-search-modal-items {
	display: flex;
	flex-wrap: wrap;
}
.rees46__modal__results__products .rees46-search-modal-item {
	width: calc(100% / 4 - 10px);
	margin: 0 5px 10px 5px;
	padding: 10px;
	border: 1px solid var(--rees46-second);
	border-radius: 5px;
	transition: .3s;
}
.rees46__modal__results__products .rees46-search-modal-item:hover {
	border-color: var(--rees46-main-hover);
}
.rees46__modal__results__products .rees46-search-modal-item-photo {
	display: flex;
	min-height: 180px;
	align-items: center;
	justify-content: center;
}
.rees46__modal__results__products .rees46-search-modal-item-photo a img {
	max-width: 100%;
	max-height: 180px;
}
.rees46__modal__results__products .rees46-search-modal-item-title {
	min-height: 80px;
	padding: 10px 0;
}
.rees46__modal__results__products .rees46-search-modal-item-title a {
	display: inline-block;
	color: black;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.25;
	text-decoration: none;
	transition: .3s;
}
.rees46__modal__results__products .rees46-search-modal-item-title a:hover {
	color: var(--rees46-main-hover);
}
.rees46__modal__results__products .rees46-search-modal-item-price {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.rees46__modal__results__products .rees46-search-modal-item-price span {
	margin-right: 5px;
	font-weight: bold;
	font-size: 16px;
}
.rees46__modal__results__products .rees46-search-modal-item-price span.old {
	color: var(--rees46-second-hover);
	font-size: 14px;
	font-weight: normal;
}
.rees46__mask {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: var(--rees46-second-hover);
	cursor: pointer;
	z-index: 9998;
}
@media (max-width: 1420px) {
	.rees46__modal__results__products .rees46-search-modal-item {
		width: calc(100% / 3 - 10px);
	}
}
@media (max-width: 1170px) {
	.rees46__modal__results__products .rees46-search-modal-item {
		width: calc(100% / 2 - 10px);
	}
}
@media (max-width: 910px) {
	.rees46__modal__results__filters {
		width: 100%;
		padding: 0 0 20px 0;
	}
	.rees46__modal__results__products {
		width: 100%;
	}
	.rees46__modal__results__products .rees46-search-modal-item {
		width: calc(100% / 3 - 10px);
	}
}
@media (max-width: 870px) {
	.rees46__modal__results__products .rees46-search-modal-item {
		width: calc(100% / 2 - 10px);
	}
}
@media (max-width: 610px) {
	.rees46__modal__results__products .rees46-search-modal-item {
		width: 100%;
		margin: 0 0 10px;
	}
}
@media (max-width: 415px) {
	.rees46__modal {
		max-height: calc(100vh - 20px);
		max-width: calc(100% - 20px);
		padding: 15px;
	}
	.rees46__modal__results__products .load-more {
		width: 100%;
		margin: 10px 0;
	}
}