.options_timeslot_block {
    border: 1px black solid;
    padding: 20px;
    width: 500px;
    margin: 25px;
}

.options_specialDays_date_block {
    border-top: 10px black solid;
    padding: 20px;
}

.options_conditions_block {
    border: 1px black dashed;
    padding: 10px 5px;
    margin: 3px;
}

.options_conditions_block input {
    margin: 5px;
}

.options_weekname {
    border-bottom: 4px red solid;
    font-size: 50px;
}

.options_date_block{
    border: 1px black solid;
    padding: 20px;
    width: 500px;
    margin: 25px 25px 25px 0px;
}
.options_date_block_label {
    margin: 5px;
}

.options_productProps_item{
    border: 2px solid;
    padding: 20px;
    margin-bottom: 40px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.flex-container > .flex-item {
    -webkit-flex: auto;
    flex: auto;
}

.spoiler-wrap{background:#fff;margin: 0 0 8px;border:1px solid #efefef}
.spoiler-head{background:#efefef;cursor:pointer;padding:5px;}
.spoiler-body{padding:10px}
.spoiler-wrap.disabled .spoiler-body{display:none}
.spoiler-wrap.active{border-color:#57AA43}
.spoiler-wrap.active .spoiler-head{background:#57AA43;color:#fff}