#global_menu_custom .adm-main-menu-item-icon{
    background-image: url("/logo.png");
    width: 71px;
    height: 40px;
    background-position: center;
    background-size: contain;
}

.adm-filter-content-table select option:checked {
    background-color: rgb(206, 206, 206)!important;
}
.amount-orders{
    display: none;
}